{% extends 'base.html' %}

{% block title %}Details{% endblock title %}

{% block userdetails %}
<body class="bg-gray-100">
    <div class="p-4 sm:p-8 max-w-md mx-auto">
        <h1 class="text-2xl font-semibold mb-2 sm:mb-4">User Details</h1><hr>
        <hr class="mb-2 sm:mb-4">
        <form action="" method="POST">
            {% csrf_token %}
            {% for data in form %}
            <div class="mb-4" class:"w-full py-2 px-3 border rounded border-gray-300 focus:outline-none focus:border-indigo-600">
                <label for="{{ data.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ data.label_tag }}</label>
                    {{ data }}
                    {% if data.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ data.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="bg-indigo-600 text-white font-semibold py-2 px-4 rounded hover:bg-indigo-700 w-full">Update</button>
        </form>
        <br><br>
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                    <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</small>
                    {% endfor %}
            </div>
            {% endif %}

        <div class="flex justify-between mt-4">
            <a href="{% url 'dashboard' %}" class="text-indigo-600 hover:underline">Dashboard</a>
            <a href="{% url 'logout' %}" class="text-indigo-600 hover:underline">Logout</a>
        </div>
    </div>
</body>
{% endblock userdetails %}

