<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: bisque;
            color: black;
        }
    </style>
    <title>Filters in DTL</title>
</head>
<body>
    <h1>(Orignal Name)Name : {{name}}</h1>
    <h1>('upper' filter) Name : {{name | upper}}</h1>
    <h1>('lower' filter) Name : {{name | lower}}</h1>
    <h1>('capfirst' filter) Name : {{name | capfirst}}</h1>
    <h1>('defaul' filter) Name : {{name | default:'default python'}}</h1>
    <h1>('length' filter) Name : {{name | length}}</h1>
    <h1>('slice' filter) Name : {{name | slice:'::-1'}}</h1>
    <h1>('truncatechars' filter) Name : {{name |truncatechars:2}}</h1>
    <h1>('truncatewords' filter) Name : {{name |truncatewords:2}}</h1>
    <h1>('timedate' filter) Name : {{name | time:"TIME_FORMAT"}}</h1>
    <h1>('float' filter) p1 : {{p1}}</h1>
    <h1>('float' filter) p2 : {{p2}}</h1>
    <h1>('float' filter) p3 : {{p3}}</h1>
    <h1>('float' filter) p3 : {{p3}}</h1>
    <h1>('float' filter) floatformat : {{p1 | floatformat}}</h1>
    <h1>('float' filter) floatformat : {{p1 | floatformat:3}}</h1>
    <h1>('float' filter) floatformat : {{p2 | floatformat:-3}}</h1>
</body>
</html>