<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nested Loop</title>
</head>
<body>
    {{students.student1}} <br/>
    Name of student 1 : {{students.student1.name}} <br/>
    Roll no. of student 2 : {{students.student2.roll}} <br/>

    {% comment %} {% for key, value in data.items %}
    {{key}} : {{values}}
    {% endfor %} {% endcomment %}

    {% for key, value in students.items %}
        Studnet : {{key}}<br/>
        {% for name, roll in value.items %}
        {{forloop.parentloop.counter}}{{name}} : {{roll}} <br/>
        {% endfor %}
    {% endfor %}
</body>
</html>