<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signed Cookie</title>
</head>
<body>
    <h2>Signed Cookie</h2>
    {{name}}
    <button><a href="{% url 'home' %}">home</a></button>
    <button><a href="{% url 'get' %}">get</a></button>
    <button><a href="{% url 'set' %}">set</a></button>
    <button><a href="{% url 'del' %}">del</a></button>
    <button><a href="{% url 'signedset' %}">signedset</a></button>
</body>
</html>