<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie</title>
</head>
<body>
    <h1>Set Cookie</h1>
    <button><a href="{% url 'home' %}">home</a></button>
    <button><a href="{% url 'get' %}">get</a></button>
    <button><a href="{% url 'del' %}">del</a></button>
    <button><a href="{% url 'signedget' %}">signedget</a></button>
    <button><a href="{% url 'signedset' %}">signedset</a></button>
</body>
</html>