<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Cookie</title>
</head>
<body>
    <h4>Get Session</h4>
    First Name : {{name}}<br>
    Last Name : {{lname}}<br>
    <br><br>
    Keys are : 
    {% for key in keys %}
        {{key}}
    {% endfor %}
    <br><br>
    Values are : 
    {% for value in values %}
        {{value}}
    {% endfor %}
    <br><br>
    <hr><br>
    Keys : Values <br>
    {% for key, value in items %}
        {{key}} : {{value}}<br>
    {% endfor %}
    <br><br>
    Session age : {{session_age}}seconds<br><br>
    Expiry age : {{expiry_age}}seconds<br><br>
    Expiry date : {{expiry_date}}<br><br>
    Is session expire when browser get close : {{check_on_browser_close}}<br><br>

    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    <button><a href="{% url 'home' %}">home</a></button>
    <button><a href="{% url 'set' %}">set</a></button>
    <button><a href="{% url 'del' %}">del</a></button>
</body>
</html>