<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .errors {
            color: red;
        }
        .success {
            color: yellow;
        }
        .warning {
            color: orange;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form  %}
            {{fm.label_tag}} {{fm}} <span class="errors">{{fm.errors|striptags}}</span><br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% for message in messages  %}
        <small {% if message.tags %} class="{{message.tags}}">
            {{message}}
        </small>
    
        {% endif %}
    {% endfor %}
</body>
</html>