<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome</h2><br>
        {% if perms.UserAdmin.delete_blog %}
            <input type="button" value="Delete">
        {% else %}
        <h1>Delete nahi kar sakta h bhai tu</h1>
        {% endif %}<br>
        {% if perms.UserAdmin.add_blog %}
            <input type="button" value="Add">
        {% else %}
        <h1>Add b nahi kar sakta h bhai tu</h1>
        {% endif %}
</body>
</html>