{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block login %}
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded shadow-md w-196">
        <h2 class="text-2xl font-semibold mb-4">User Login</h2>
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="mb-4">
                    {% for error in form.non_field_errors %}
                    <p class="text-red-500 text-xs">{{error}}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% for fm in form %}
                <div class="mb-4" class="w-full py-2 px-3 border rounded border-gray-300 focus:outline-none focus:border-indigo-600">
                    <label for="{{ fm.id_for_label }}" class="block text-sm font-medium text-gray-600">{{ fm.label_tag }}</label>
                    {{ fm }}
                    {% if fm.errors %}
                        <p class="text-red-500 text-xs mt-1">{{ fm.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="bg-indigo-600 text-white font-semibold py-2 px-4 rounded hover:bg-indigo-700 w-full">Login</button>
        </form>
        <p class="mt-4">Don't have an account? <a href="{% url 'signup' %}" class="text-indigo-600 hover:underline">Sign Up</a></p>
    </div>
</body>
{% endblock login %}

